html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: #294C60;
  font-size: 16px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.site-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #001B2E;
  height: 36px;
  padding: 8px 16px;
  z-index: 1;
}

.header-title {
  color: rgb(245, 245, 245);
  margin: 0px;
  font-family: "Libre Baskerville";
  font-size: 1.7rem;
}

.menu-button {
  height: 24px;
  width: 24px;
  border: 0px;
  padding: 0px;
  background-image: url(./images/menu.png);
  background-size: contain;
  background-color: #001B2E;
  transition: 200ms;
}

.menu-button.clicked {
  animation-name: pressDown;
  animation-duration: 150ms;
  animation-timing-function: ease-in-out;
}

@keyframes pressDown {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

.option-bar {
  position: relative;
  display: flex;
  width: 100%;
  z-index: 0;
}


.option-bar.animate {
  animation-name: slideDown;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

@keyframes slideDown {
  0% {
    transform: translateY(-28px);
  }
  100% {
    transform: translateY(0px);
  }
}

.option-button {
  flex: 1;
  border: 0px;
  background-color: #FFC49B;
  font-weight: bold;
  font-family: "Dosis";
  font-size: 1.4rem;
}

.option-button.clicked {
  background-color: #fcb481;
}

.form-wrapper {
  width: 100%;
  padding: 20px;
  margin-top: 32px;
  color: white;
  font-family: "Dosis";
  font-size: 1.2rem;
  font-weight: bold;
}

.add-book-form {
  display: flex;
  flex-direction: column;
}

.form-wrapper input {
  width: 100%;
  border: 2px solid rgb(112, 112, 112);
  border-radius: 4px;
  padding: 8px;
  margin: 4px 0px 16px;
  font-size: 1rem;
}

.submit-button {
  border: 0px;
  border-radius: 4px;
  padding: 4px 24px;
  background-color: #FFEFD3;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: "Dosis";
  margin-top: 16px;
  align-self: flex-start;
}

.inactive {
  display: none;
}